@import url(fonts/Anton/Anton-Regular.ttf);

body
{ 
  background: linear-gradient(90deg, #A734BD 0%, #FF006A 0% ,black 30%);  
}

.nav-item .nav-link {
    color: white; 
    text-decoration: none;
    transition: all 0.3s ease; 
  }
  
.nav-link:hover {
  color: #ff006a; 
  background: linear-gradient(90deg, #a734bd 0%, #ff006a 100%);
  border-radius: 5px; 
  padding: 5px; 
  transition: all 0.3s ease; }

  .anton{
    font-family: "Anton";
  }

  .bg-linear{
    color: #D41192 !important;   
   }

   